body {
    background: url('../images/header.jpg');
    background-size: cover;
    background-repeat: repeat;
  background-size: contain;
    }
    .card {
        opacity: 0.85;
        font-weight: bold;
    }
    .jumbotron {
        background: white;
        opacity: .80;
        font-family: fantasy;

    
    }
    h1 {
        font-size: 80px;
        font-weight: bolder;
        color: green;
        
    }
    .card-header {
        font-family: fantasy;
        font-size: 25px;
        padding-top: 15px;
    
    }